# Bash needs lf even on windows/cygwin
/scripts/* eol=lf
/scripts/**/*.bat eol=crlf
/image/*.st eol=lf
/image/*.sh eol=lf
mvm eol=lf
sq*SCCSVersion.h filter=RevDateURL ident
*.changes -diff
*.sources -diff
