#ifdef _WIN32
1                       ICON    DISCARDABLE     "nsvm.ico"
2                       ICON    DISCARDABLE     "nsvm.ico"
3                       ICON    DISCARDABLE     "nsvm.ico"
#ifndef RT_MANIFEST
#	define RT_MANIFEST 24
#endif

#ifndef CREATEPROCESS_MANIFEST_RESOURCE_ID
#	define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#endif

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "nsvm.exe.manifest"

1 VERSIONINFO
 FILEVERSION FILEVERSIONVALUES
 PRODUCTVERSION 5,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0xaL
 FILEOS 0x10001L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"    // Lang=US English, CharSet=Windows Multilin
        BEGIN
            VALUE "CompanyName", "newspeaklanguage.org\0"
            VALUE "FileDescription", "Newsqueak Cog Spur Virtual Machine\0"
            VALUE "FileVersion", FILEVERSIONSTRING
            VALUE "ProductName", "Newsqueak Cog Spur\0"
            VALUE "ProductVersion", "5.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
#endif
