1 VERSIONINFO
FILEVERSION 2, 3, 7, 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileDescription", "The cross platform IA-32 emulator"
   VALUE "FileVersion", "2.3.7.cvs"
   VALUE "LegalCopyright", "GNU Lesser General Public License"
   VALUE "ProductName", "Bochs"
   VALUE "ProductVersion", "Build from CVS snapshot, after release 2.3.7"
  }
 }
}
