# default config file, made by mkdefconfig

#
# System wide options
#
CONFIG_LITE=n
CONFIG_STAND_ALONE=n
CONFIG_INCORE_RES=n
CONFIG_TIMERUNIT10MS=y
CONFIG_CURSORSUPPORT=y
CONFIG_MOVEABLE=y
CONFIG_DBCLK=y
CONFIG_DEBUG=n
CONFIG_TRACEMESSAGE=n
CONFIG_MSGSTR=n

#
# GAL engine options
#
CONFIG_NEWGAL=y
CONFIG_GAL_NATIVE=y
CONFIG_GAL_NATIVE_QVFB=y
CONFIG_GAL_NATIVE_COORTRANS_CW=n
CONFIG_GAL_NATIVE_COORTRANS_CCW=n
CONFIG_GAL_NATIVE_R1BPPFB=n
CONFIG_GAL_NATIVE_L1BPPFB=n
CONFIG_GAL_NATIVE_R2BPPFB=n
CONFIG_GAL_NATIVE_L2BPPFB=n
CONFIG_GAL_NATIVE_R4BPPFB=n
CONFIG_GAL_NATIVE_L4BPPFB=n
CONFIG_GAL_NATIVE_8BPPFB=y
CONFIG_GAL_NATIVE_16BPPFB=y
CONFIG_GAL_NATIVE_24BPPFB=n
CONFIG_GAL_NATIVE_32BPPFB=y
CONFIG_GAL_NATIVE_VGA16FB=n
CONFIG_GALIAL_SVGALIB=n
CONIFG_GALIAL_LIBGGI=n
CONFIG_GAL_EP7211=n
CONFIG_GAL_ADS=n
CONFIG_GAL_VGA16=n
CONFIG_NEWGAL_FBCON=y
CONFIG_NEWGAL_QVFB=y
CONFIG_NEWGAL_DUMMY=y

#
# IAL engine options
#
CONFIG_IAL_EP7211=n
CONFIG_IAL_ADS=n
CONFIG_IAL_IPAQ=n
CONFIG_IAL_MPC823=n
CONFIG_IAL_VR4181=n
CONFIG_IAL_HELIO=n
CONFIG_IAL_MTT800=n
CONFIG_IAL_DUMMY=y
CONFIG_IAL_NATIVE=y
CONFIG_IAL_MC68X328=n
CONFIG_IAL_NATIVE_PS2MOUSE=y
CONFIG_IAL_NATIVE_IMPS2MOUSE=y
CONFIG_IAL_NATIVE_MSMOUSE=y
CONFIG_IAL_NATIVE_MS3MOUSE=y
CONFIG_IAL_NATIVE_GPM=y

#
# Font options
#
CONFIG_FONT_RBF=y
CONFIG_FONT_INCOREGB12=y
CONFIG_FONT_VBF=y
CONFIG_FONT_INCORESSERIF=y
CONFIG_FONT_INCORECOURIER=y
CONFIG_FONT_INCORESYMBOL=y
CONFIG_FONT_INCOREVGAS=y
CONFIG_FONT_QPF=y
CONFIG_FONT_TTF=y
CONFIG_FONT_TYPE1=y

#
# Charset options
#
CONFIG_CHARSET_LATIN2=n
CONFIG_CHARSET_LATIN3=n
CONFIG_CHARSET_LATIN4=n
CONFIG_CHARSET_CYRILLIC=n
CONFIG_CHARSET_ARABIC=n
CONFIG_CHARSET_GREEK=n
CONFIG_CHARSET_HEBREW=n
CONFIG_CHARSET_LATIN5=n
CONFIG_CHARSET_LATIN6=n
CONFIG_CHARSET_THAI=n
CONFIG_CHARSET_LATIN7=n
CONFIG_CHARSET_LATIN8=n
CONFIG_CHARSET_LATIN9=y
CONFIG_CHARSET_LATIN10=n
CONFIG_CHARSET_GB2312=y
CONFIG_CHARSET_GBK=y
CONFIG_CHARSET_GB18030=n
CONFIG_CHARSET_BIG5=y
CONFIG_CHARSET_EUCKR=n
CONFIG_CHARSET_EUCJP=n
CONFIG_CHARSET_SHIFTJIS=n
CONFIG_CHARSET_UNICODE=y

#
# Keyboard layout specific options
#
CONFIG_KBD_FRPC=n
CONFIG_KBD_FR=n
CONFIG_KBD_DE=n
CONFIG_KBD_DELATIN1=n
CONFIG_KBD_IT=n
CONFIG_KBD_ES=n
CONFIG_KBD_ESCP850=n

#
# Image options
#
CONFIG_IMAGE_SAVEBMP=y
CONFIG_IMAGE_PCX=n
CONFIG_IMAGE_LBM=n
CONFIG_IMAGE_TGA=n
CONFIG_IMAGE_GIF=y
CONFIG_IMAGE_JPG=y
CONFIG_IMAGE_PNG=y

#
# Input method options
#
CONFIG_IME_GB2312=y
CONFIG_IME_GB2312PINYIN=y

#
# Appearance options
#
CONFIG_APPEARANCE_FLATSTYLE=n
CONFIG_APPEARANCE_TINYSCR=n

#
# Misc options
#
CONFIG_MISC_ABOUTDLG=y
CONFIG_MISC_SAVESCR=y
CONFIG_MISC_TEXTMODE=y

#
# Controls options
#
CONFIG_CTRL_STATIC=y
CONFIG_CTRL_BUTTON=y
CONFIG_CTRL_SIMEDIT=y
CONFIG_CTRL_SLEDIT=y
CONFIG_CTRL_MLEDIT=y
CONFIG_CTRL_LISTBOX=y
CONFIG_CTRL_PROGRESSBAR=y
CONFIG_CTRL_TOOLBAR=y
CONFIG_CTRL_NEWTOOLBAR=y
CONFIG_CTRL_MENUBUTTON=y
CONFIG_CTRL_TRACKBAR=y
CONFIG_CTRL_COMBOBOX=y
CONFIG_CTRL_PROPSHEET=y

#
# Ext library options
#
CONFIG_EXT_TREEVIEW=y
CONFIG_EXT_LISTVIEW=y
CONFIG_EXT_MONTHCAL=y
CONFIG_EXT_SPINBOX=y
CONFIG_EXT_COOLBAR=y
CONFIG_EXT_FULLGIF=n

CONFIG_PLATFORM_LINUX=y
CONFIG_COMPILER_X86=y
CONFIG_LIBC_GLIBC=y
