#(#(#ADPCMCodecPlugin
#AsynchFilePlugin
#BMPReadWriterPlugin
#CameraPlugin
#CroquetPlugin
#DSAPlugin
#DeflatePlugin
#DropPlugin
#FFIPlugin
#FFTPlugin
#FileCopyPlugin
#FilePlugin
#FloatArrayPlugin
#FloatMathPlugin
#IA32ABIPlugin
#JPEGReadWriter2Plugin
#JPEGReaderPlugin
#JoystickTabletPlugin
#KlattSynthesizerPlugin
#LargeIntegersPlugin
#LocalePlugin
#MIDIPlugin
#Matrix2x3Plugin
#MiscPrimitivePlugin
#Mpeg3Plugin
#RePlugin
#SecurityPlugin
#SerialPlugin
#SocketPlugin
#SoundCodecPlugin
#SoundGenerationPlugin
#SoundPlugin
#SqueakSSLPlugin
#StarSqueakPlugin
#UUIDPlugin
#UnicodePlugin
#UnixAioPlugin
#UnixOSProcessPlugin
)
#()
true
false
'unix'
'trunk/src'
'platforms'
4
true
true
'Interpreter'
)