[Desktop Entry]
Name=Pharo VM
GenericName=Pharo Virtual Machine
Exec=pharo7-64-ui %F
Icon=pharo7
Terminal=false
Type=Application
StartupNotify=false
Categories=Development;
MimeType=application/x-pharo-image;
NoDisplay=true
